input {
    width: 500px;
}

#main_div {
  margin: auto;
  margin-top: 10%;
  width: 50%;
  text-align: center;
  
}
 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
} 
 #search_bar1{
   margin-left: auto;
   margin-right: auto;
   margin-top: 20px;
   margin-bottom: 20px;
   
} 

#logo {
    width: 300px;
}
#google_search{
    margin-left: 20px;
    margin-right: 20px;
}
#lucky{
    margin-left: 20px;
    margin-right: 20px;

 }
 .header {
     overflow: hidden;
    
}
.header a {
    float: left;
    margin: 0px, 10px, 0px, 20px;
    padding: 10px 10px 10px 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;

}

.header-right a {
    float: right;
    margin: 0px, 10px, 0px, 20px;
    padding: 10px 10px 10px 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;

}
#sign_in {
    background-color:lightskyblue;
    color: white;
}

footer {
    background-color: lightgray;
    position: relative;
    height: 40px;
    margin-top: 300px;
    bottom: 0%;
    width: 100%;
}

.footer-left a{

    float: left;
    margin: 0px, 10px, 0px, 20px;
    padding: 10px 10px 10px 10px;
    font-family: Arial, Helvetica, sans-serif;
     bottom: 0;
     color: black;
   
   
}
.footer-right a{
    float: right;
    margin: 0px, 10px, 0px, 20px;
    padding: 10px 10px 10px 10px;
    font-family: Arial, Helvetica, sans-serif;
     bottom: 0;
     color: black;
 
}
